<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Password Reset Complete</title>
        <meta charset="utf-8">
        <meta name="author" content="Behniya ganji">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="alert alert-info">
                Your password has been set.
            </div>
            <!-- The login link is now wrapped in its own div below the message -->
            <div class="login-link-container">
                <a href="{% url 'login' %}" class="login-link">Login</a>
            </div>
        </div>
    </body>
</html>
