/* password_reset_done.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .alert {
        width: 90%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alert {
    width: auto; /* Adjust width to fit the content on a single line */
    max-width: 80%; /* Prevent it from expanding too much on large screens */
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 15px 30px; /* Increased horizontal padding for a wider box */
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent line breaking */
}

.login-link-container {
    text-align: center;
    margin-top: 10px;
}

.login-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}